<div class="comment-div">
  <div>
    <div class="comment-header">
      <img src={{@comment.user.image.png}} alt="avatar">
      <p>{{@comment.user.username}}</p>
      <p>{{@comment.createdAt}}</p>
    </div>
    <div class="comment-text">{{@comment.content}}</div>
  </div>
  <div class="count"></div>
  <div class="reply">
    <img  src="../../images/icon-reply.svg" alt="reply icon"/>
    <span>reply</span>
  </div>
</div>
