<div class="comment-div">
  <div>
    <div class="comment-header"></div>
    <div class="comment-text">{{@comment.content}}</div>
  </div>
  <div class="count"></div>
  <div class="reply"></div>
</div>