<div class="main">
    <div class="container-main">
      <div>
        <ul class="details">
          {{#each this.commentData as |comment|}}
            {{#if  comment.replyingTo}}
            {{else}}
              <li><CommentSection @commentReply={{comment}} @currentUser={{@model.currentUser}} /></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <InputBox @currentUsr={{@model.currentUser}} />
    </div>
  </div>
  {{#if this.showDeleteComment.deleteComment}}
    <DeleteComponent />
  {{/if}}

