<div class="input-div">
  <div class="img">
    <img src={{@currentUsr.image.png}} alt="avatar">
  </div>
  <textarea />

  <div class="reply-btn">
    <button type="button">Reply</button>
  </div>
  
</div>