<div class="input-div">
  <div class="img">
    <img src={{@currentUsr.image.png}} alt="avatar">
  </div>
  <textarea placeholder="Add a comment..." />

  <div class="reply-btn">
    <button type="button">
      {{if @reply "Reply" "Send"}}
    </button>
  </div>
  
</div>