<div class="container-main">
  <div>
    <ul class="details">
    {{#each @model.comments as |comment|}}
      <li><CommentSection @commentReply={{comment}} @currentUser={{@model.currentUser}} /></li>
    {{/each}}
  </ul>
  </div>
</div>
